<mat-toolbar>
    <mat-toolbar-row class="mat-elevation-z8" style="background-color: red;">
        <div>
            <span title="Pokemon!">
                <!-- <img src='../../assets/Images/Pokedex-02.png' style="height:100px;" alt="Pokedex"> -->
                <table>
                    <tr>
                        <td><img src='../../assets/Images/Pokeball.png' style="height:50px; position: relative; margin-top: 10px;"></td>
                        <td class="header">
                            <h1 style="position: relative;">POKEDEX</h1>
                        </td>
                    </tr>
                </table>
            </span>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="mat-elevation-z8">
        <div>
            <button mat-button [matMenuTriggerFor]="appMenu">Menu</button>
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item>Settings</button>
                <button mat-menu-item>Help</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="appAbout">About</button>
            <mat-menu #appAbout="matMenu">
                <button mat-menu-item>About Us</button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>